// Layout variables partial

$section-padding: 40px 0;

$section-padding-0: 0px 0;

section.intro, section.features-extra, section.rsvp {
	background: $section-light;
}
section.features, section.events, section.instagram {
	background: $section-dark;
}